#CREDENTIALS
PORT=3001
DATABASE_URL="postgresql://postgres.hcprggctwxqjozrhdudv:[YOUR-PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
BASE_URL="http://localhost:3001/api"

#JWT
JWT_SECRET='secret'
JWT_EXPIRES='8d'
