#CREDENTIALS
PORT=3001
DATABASE_URL="postgresql://postgres.hcprggctwxqjozrhdudv:teddyopenfinance2025@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
BASE_URL="http://localhost:3001/api"

#JWT
JWT_SECRET='$2a$12$6kWc/2MDg9phzTiam.5IZuk1e7MSObxnz.SZ2mzKfk.cbKxpfTxGq'
JWT_EXPIRES='8d'
